@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


$color: chocolate;
$black: black;

.navbar{
	/* position: fixed; */
	height: 80px;
	width: 100%;
	/* top: 0; */
	/* left: 0; */
	background: rgba(0,0,0,0.4);
}
.navbar .logo{
	width: 200px;
	height: auto;
	margin-left: 10px;
	/* padding: 10px 100px; */
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: red;
	border-radius: 2px;
}

.container {
    margin-top: 69px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container img {
    height: 224px;
    margin-top: 88px;
    margin-left: 279px;
}

.text {
    margin-top: 60px;
}

.h1 {
    float: left;
    margin-left: 20px;
    margin-top: 24px;
    color: $color;
}

.p {
    margin-top: 30px;
    font-size: 20px;
    margin-left: 25px;
    color: black;
}

.p2 {
    margin-top: 130px;
    font-size: 30px;
    margin-left: -230px;
    color: black;
}

.contact {

    float: right;
    margin-top: -395px;
    margin-right: 238px;
    background: #7dbbb8;
    border-radius: 60px;
    box-shadow: 2px 3px #f04222;
    padding: 70px;
    font-size: 29px;
    padding-top: 32px;
    padding-left: 50px;
    padding-right: 34px;
    padding-bottom: 30px;

}
#liste div{
background-color: rgb(98, 104, 104);
margin: 0px;
padding: 0px;
margin-left: 235px;
margin-right: 222px;
margin-top: 10px;
}
#liste div:hover{
    background-color: #4a6e6e;
}

#liste #listeTitle {
display: flex;
flex-direction: row;
justify-content: space-around;

}
h4 {
    margin-left: 117px;
    margin-top: -40px;
    float: left;
    padding: 5px;
    overflow: hidden;
}
h5 {
        margin-right: 86px;
        float: right;
        margin-top: -49px;
}
.arrows {
    display: flex;
    align-items: center;
    width: 29%;
    height: 20vh;
    margin-left: 743px;
    padding-left: 32px;
}



.arrows i {
    cursor: pointer;
}
.inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.input1 input{
    background-color: #999999;
    text-align: center;
    margin-top: 186px;
    margin-left: 20px;
    height: 40px;
    border-color: #97f6f3;
    display: flex;
	flex-direction: column;
    align-items: center;
    width: 500px;
    margin-top: 10px;
}
.input2 input{
    background-color: #999999;
    text-align: center;
    height: 40px;
    border-color: #97f6f3;
    display: flex;
	flex-direction: column;
    align-items: center;
    width: 500px;
    margin-top: 10px;

}
#data {
    background-color: #999999;
    height: 40px;
    border-color: #97f6f3;
    display: flex;
	flex-direction: column;
    align-items: center;
    width: 500px;
    margin-top: 10px;
}

.button {
    margin-left: 735px;
    margin-top: 55px;

}
.add{
    background-color:#ff0504;
    width: 100px;
    height: 40px;
    box-shadow: 2px 3px #f04222;
    font-size: 15px;
    width: 200px;

}
.icon {
    margin-top: 7px;
    width: 20px;
    height: 20px;
    float: left;
}

body {
background-color: #828887;
overflow-x: hidden;
}

//medias query
@media screen and (max-width: 992px) {
    .container img {
        margin-left: 125px;
    }
}

@media screen and (max-width: 992px) {
    .contact {
        float: left;
        margin-top: 38px;
        margin-left: 252px;
    }
}
@media screen and (max-width: 992px) {
    .input {
        margin-top: 400px;
        margin-left: 32px;
    }
}
@media screen and (max-width: 992px) {
    .arrows {
        margin-top: 20px;
        margin-left: 276px;
    }
}
@media screen and (max-width: 600px) {
    .container img {
        margin-left: 125px;
    }
  }
  @media screen and (max-width: 600px) {
    .contact {
        margin-left: 125px;
    }
  }
  @media screen and (max-width: 600px) {
    .input{
        margin-left: 15px;
    }
  }
  @media screen and (max-width: 600px) {
    .arrows{
        margin-left: 146px;
    }
  }